[user]
  name = Ariejan de Vroom
  email = ariejan@ariejan.net
  signingkey = F713697B
[alias]
  wtf = "!git commit -m \"$(curl -s whatthecommit.com/index.txt)\""
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset %Cblue<%ae>%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  timelog = log --pretty=format:'%Cred%h%Creset - %C(yellow)%ae%Creset - %Cgreen%cd%Creset - %s%Creset' --abbrev-commit --date=iso
[apply]
  whitespace = nowarn
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow 
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow 
  changed = green
  untracked = cyan
[branch]
  autosetuprebase = always
[core]
  quotepath = false
  excludesfile = /Users/ariejan/.gitignore_global
  editor = /usr/bin/vim
[merge]
  ff = true
[mergetool]
  keepBackup = true
[github]
  user = ariejan
  token = !security 2>&1 >/dev/null find-generic-password -gs github.token | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[push]
  default = simple
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
