"*":
  "exception-reporting":
    userId: "4f4394d0-618a-6080-03b9-fce06d9f2bd7"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "385fdb74732583b98b871475db8af271ec14f830"
  editor:
    invisibles: {}
    fontSize: 12
    fontFamily: "Droid Sans Mono for Powerline"
    lineHeight: 1.3
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    disabledPackages: [
      "vim-mode"
    ]
    projectHome: "/Users/ariejan/src"
    themes: [
      "nucleus-dark-ui"
      "polaris-syntax"
    ]
  linter: {}
  "autocomplete-plus": {}
  "go-plus":
    goPath: "~/go"
  "atom-beautify":
    _analyticsUserId: "c591f18e-a0c6-4e7d-9ac9-77be75dacb83"
  latex: {}
  "git-diff":
    showIconsInEditorGutter: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "tree-view": {}
